name: Build macOS App

on:
  push:
    branches: ["main"]
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always

jobs:
  build-macos:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v3
      - uses: dtolnay/rust-toolchain@stable
      - name: Install cargo-bundle
        run: cargo install cargo-bundle
      - name: Build and Bundle
        run: cargo bundle --release
      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: ImageCropper.app
          path: target/release/bundle/osx/ImageCropper.app
